---
import Button from "@/components/Button.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout>
	<h2 class="text-3xl text-center mt-10">Page not found</h2>

	<div class="flex items-center justify-center mt-12">
		<Button component="a" href="/">Home page</Button>
	</div>
</Layout>
