---
import "@/global.css";
import HeadCommon from "../components/HeadCommon.astro";
import ProfileImage from "../assets/profile-picture.png";
import { Image } from "astro:assets";
---

<html dir="ltr" lang="en">
<head>
	<HeadCommon
		title={"CV"}
		image={{
			src: ProfileImage.src,
			alt: "profile image",
		}}
		description="Kostiantyn Doichev's CV"
	/>
</head>
<body>
<main class="container mx-auto font-mono">
	<div class="bg-primary-foreground sm:px-8 pb-4 pt-4 ">
		<header class="flex gap-x-3 mb-5">
			<div>
				<Image width={600} src={ProfileImage} alt="profile"
					   class="aspect-square rounded-2xl bg-primary-foreground object-cover w-20 h-20" />
			</div>
			<div>
				<h1 class="text-4xl font-bold tracking-tight sm:text-5xl">Kostiantyn Doichev</h1>
				<h3 class="text-xl text-muted-foreground">Software Engineer</h3>
			</div>
		</header>
		<section class="mb-5">
			<h2 class="mb-3 text-2xl">About Me</h2>
			<p>
				I really like solving different problems that users have, those could be B2C web applications,
				custom internal apps or developer tooling.
				Over time, I've learned the importance of balancing challenging engineering tasks with simpler, faster
				decisions that meet business needs and allow for progress.
				Additionally, I realized, that the value of the software engineer is not in being the React Andy
				and knowing only one tool,
				but being able to figure stuff out even in the environment where you have never been before.
				This includes taking on different roles within a project, leading a team, engage with the customers,
				knowing when to be the flag carrier and making a decision, instead of having hours of
				discussions and landing on a unsatisfying compromise.
				<br>
				<br>
				My core value as an engineer is that I <strong>solve</strong> problems, no matter what they are.
			</p>
		</section>
		<section class="mb-5">
			<h2 class="mb-3 text-2xl">Contact</h2>
			<p>
				I'm originally from Kyiv, Ukraine, and currently live in Leuven, Belgium.
				<br>
				My GitHub profile is <a class="underline underline-offset-4 font-medium"
										href="https://github.com/doichev-kostia">github.com/doichev-kostia</a>
				<br>
				My email is <code class="font-medium font-ligatures-none">doichev.kostia@gmail.com</code>
			</p>
		</section>
		<section>
			<h2 class="mb-3 text-2xl">Experience</h2>
			<div>
				<h3 class="text-xl">Panenco</h3>
				<h4 class="text-base text-muted-foreground">Software Engineer</h4>
				<p class="mb-1">
					<time datetime="2021-11">November 2021</time>
					- <span>Present</span>
				</p>
				<p>
					I started working at 17 y.o. in November 2021 as a part-time Front-end engineer primarily focused on
					React JS applications.
					In April 2022, after moving to Belgium, I transitioned to a full-time position.
					Closer to September 2022, I became more involved in back-end development, which was in Node.js.
					From that point onward, I primarily worked as a back-end, full-stack engineer.
					Since July 2024, I've been doing back-end development in C# and ASP .NET Core.
					Additionally, I've built some small CLI apps in Go.
				</p>
			</div>
		</section>
	</div>

</main>
</body>
</html>
