---
import "@/global.css";
import HeadCommon from "../components/HeadCommon.astro";
import ProfileImage from "../assets/profile-picture.png";
import { Image } from "astro:assets";
---

<html dir="ltr" lang="en">
<head>
	<HeadCommon
		title={"CV"}
		image={{
			src: ProfileImage,
			alt: "profile image",
		}}
		description="My CV"
	/>
</head>
<body>
<main class="container mx-auto font-mono">
	<div class="bg-primary-foreground sm:px-8 pb-4 pt-4 ">
		<header class="flex gap-x-3 mb-5">
			<div>
				<Image width={600} src={ProfileImage} alt="profile"
					   class="aspect-square rounded-2xl bg-primary-foreground object-cover w-20 h-20" />
			</div>
			<div>
				<h1 class="text-4xl font-bold tracking-tight sm:text-5xl">Kostiantyn Doichev</h1>
				<h3 class="text-xl text-muted-foreground">Software engineer</h3>
			</div>
		</header>
		<section class="mb-5">
			<h2 class="mb-3 text-2xl">About me</h2>
			<p>
				I really like solving different problems that users have, those could be B2C web applications,
				custom internal apps or developer tooling.
				With time, I've also learnt the importance of keeping the balance between the pursuit of the challenging
				engineering tasks and making a simpler and faster decision to cover the business needs and move on.
				Additionally, I came to realization, that the value of the software engineer is not in being the React
				Andy
				and knowing only 1 tool,
				but being able to figure stuff out even in the environment where you have never been before.
				Not only from the engineering perspective,
				but also by taking a different role in the project, taking more responsibility when talking to
				customers,
				leading the team, knowing when to be the flag carrier and making a decision, instead of having hours of
				discussions and land on a unsatisfying compromise.
				<br>
				<br>
				I think this is my core value as an engineer, I <strong>solve</strong> problems, no matter what those
				problems are.
			</p>
		</section>
		<section class="mb-5">
			<h2 class="mb-3 text-2xl">Contact</h2>
			<p>
				I'm originally from Kyiv, Ukraine. I currently live in Leuven, Belgium.
				<br>
				My GitHub profile is <a class="underline underline-offset-4 font-medium"
										href="https://github.com/doichev-kostia">github.com/doichev-kostia</a>
				<br>
				My email is <code class="font-medium font-ligatures-none">doichev.kostia@gmail.com</code>
			</p>
		</section>
		<section>
			<h2 class="mb-3 text-2xl">Experience</h2>
			<div>
				<h3 class="text-xl">Panenco</h3>
				<h4 class="text-base text-muted-foreground">Software engineer</h4>
				<p class="mb-1">
					<time datetime="2021-11">November 2021</time>
					- <span>Present</span>
				</p>
				<p>
					I started working at 17 y.o. in November 2021 as a part-time Front-end engineer primarily doing
					React JS applications.
					In April 2022, after I moved to Belgium, I moved to a full-time position.
					Closer to September 2021, I started being more involved into the back-end side, which was in
					Node.js.
					From that point onwards I was primarily back-end, full-stack engineer.
					From July 2024 I was doing back-end development in C# and ASP .NET Core.
					I also was building some small CLI apps in Go.
				</p>
			</div>
		</section>
	</div>

</main>
</body>
</html>
